:host {
	.mat-icon {
	  vertical-align: middle;
	  margin-right: 20px;
	}
	.profile-card {
	  text-align: center;
	  padding: 0 20px 20px 20px;
	  img {
		width: 100px;
		height: 100px;
		object-fit: cover;
		border-radius: 50%;
	  }
	}
  }

.mat-nav-list .mat-list-item {
    cursor: pointer;
    outline: 0;
    padding: 10px;
	font-size: 15px;
	//color: whitesmoke;
	font-family: Roboto,Helvetica,Arial,sans-serif;
}
.mat-list-item.active{
    color: whitesmoke;
    text-transform: uppercase;
    background-color: #154360;
    border-radius: 5px;
    width: auto;
    margin: 5px 10px 0px -6px;
    box-shadow: 4px 4px 11px -1px rgba(0, 0, 0, 0.75);
  }
.mat-list-base .mat-subheader {
	font-size: 20px;
}
.mat-list-base {
	overflow: hidden;
  }
