<mat-nav-list>
    <div class="profile-card" *ngIf="userData$ | async as user;">
        <div class="header">
            <h2>{{user.displayName}}</h2>
            <h4>{{user.email}}</h4>
        </div>
        <img [src]="currentImage" alt="Foto de perfil">
    </div>
    <br>
    <h2 matSubheader>Paginas</h2>
    <mat-list-item [routerLink]="['/home']" [routerLinkActive]="['active']">
        <mat-icon [class.active]="selected" matListIcon>home</mat-icon>
        <a matLine>Dashboard</a>
    </mat-list-item>

    <mat-list-item [routerLink]="['/events']" [routerLinkActive]="['active']">
        <mat-icon matListIcon>calendar_today</mat-icon>
        <a matLine>Eventos</a>
    </mat-list-item>

    <mat-list-item [routerLink]="['/beacons']" [routerLinkActive]="['active']">
        <mat-icon matListIcon>room</mat-icon>
        <a matLine>Salas</a>
    </mat-list-item>

    <mat-list-item [routerLink]="['/users']" [routerLinkActive]="['active']">
        <mat-icon matListIcon>supervisor_account</mat-icon>
        <a matLine>Users</a>
    </mat-list-item>

    <mat-list-item [routerLink]="['/admin/profile']" [routerLinkActive]="['active']">
        <mat-icon matListIcon>person</mat-icon>
        <a matLine>Perfil</a>
    </mat-list-item>

    <h2 matSubheader>Herramientas</h2>
    <mat-list-item [routerLink]="['/about']" [routerLinkActive]="['active']">
        <mat-icon matListIcon>contact_phone</mat-icon>
        <a matLine>Contactos</a>
    </mat-list-item>

    <mat-list-item [routerLink]="['/about']" [routerLinkActive]="['active']">
        <mat-icon matListIcon>help</mat-icon>
        <a matLine>Acerca de</a>
    </mat-list-item>
    <!--     <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>dashboard</mat-icon>&nbsp;Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/events">
        <mat-icon>calendar_today</mat-icon>&nbsp;Eventos
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/beacons">
        <mat-icon>room</mat-icon>&nbsp;Salas
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">
        <mat-icon>supervisor_account</mat-icon>&nbsp;Usuarios
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/profile">
        <mat-icon>person</mat-icon>&nbsp;Perfil
    </a>
    <h2 matSubheader>Herramientas</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/about">
        <mat-icon>contact_phone</mat-icon>&nbsp;Contactos
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/about">
        <mat-icon>import_contacts</mat-icon>&nbsp;Anotaciones
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/about">
        <mat-icon>help</mat-icon>&nbsp;Acerca de
    </a> -->
</mat-nav-list>