/* Structure */
.container{
	width: 80%;
	margin: 0 auto;
	padding: 0 30px 30px;
    margin-top: -35px;
}

.cont{
    width: 100%;
    color: gainsboro;
    margin-left: 30px;
}

.panel-header {
	display: flex;
	height: 190px;
    width: 103%;
    margin-left: -20px;
    margin-top: -20px;
    padding-top: 0px;
    background: darkslategrey;
    background-size: 110%;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.75);
}
.container-header{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}
.filtro{
	margin-right: 10px;
    display: flex;
    height: 50px;
    margin: 25px 0px;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    background: rgba(222, 222, 222, 0.3);
    border-radius: 100px;
    padding: 0px 0px 0px 25px;
    transition: background-color 1s ease-out;
}
.enter{
	width: 80%;
    margin-top: 15px;
}
.ic{
	width: 10%;
    margin-top: 12px;
    text-align: end;
    color: white;
}
.filtro:hover{
	background:#e3e3e3c5;
	cursor: pointer;
	color: black;
	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: rgba(0, 0, 0, 0.733);
		opacity: 1; /* Firefox */
	  }
}
.button-new{
    width: 60%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #154360;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
  }
//antiguo css
table {
	width: 100%;
  }
  .mat-form-field{
	  font-size: 1rem;
	  width: 95%;
	  margin: 0 auto;
	  display: block;
	  margin-top: 1rem;
	  margin-left: 2.5px;
  }
  .mat-cell{
	  font-size: 16px;
	  margin: 0 auto;
  }
  .mat-header-cell{
	  font-size: 18px;
  }

.container-btn-new{
	display: flex;
	justify-content: flex-end;
	margin: 1rem -0.5rem;
	button{
	    font-size: 16px;
		margin-right: 20px;
		width: 100%;
		padding: 0.5rem;
		color: #fff;
		background-color: #4f9ca5;
		cursor: pointer;
	}
}
.card {
	border-radius: 6px;
    color: #333;
	font-size: 0.875rem;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-clip: border-box;
	box-shadow: 0 0 black;
}
.card-header {
	border-top: 0;
	position: relative;
	margin-bottom: 0;
	border-radius: 3px;
    margin-top: 0px;
    padding: 15px;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
	background: #ADD8E6;
	//background-image: linear-gradient(60deg, rgba(53, 185, 174, 0.74), rgba(70, 247, 188, 0.856));
}
.card-body {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
.mat-card-header-text {
    margin: 20px 15px;
}
.card-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: darkslategray;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
.card-subtitle {
	color: #ffff;
	font-size: 20px;
	margin-top: -0.375rem;
	margin-left: 20px;
	margin-bottom: 0; 
}
table {
	width: 100%;
  }
  .mat-form-field{
	  font-size: 1rem;
	  width: 95%;
	  margin: 0 auto;
	  display: block;
	  margin-top: 1rem;
	  margin-left: 2.5px;
  }
  .mat-cell{
	font-size: 15px;
    margin: 0 auto;
    padding: 10px 15px 8px 10px;
  }
  .mat-header-cell{
    font-size: 18px;
    text-align: center;
    color: darkslategray;
    font-weight: 500;
  }
  .container-btn-new{
	display: flex;
	justify-content: flex-end;
	margin: 1rem -0.5rem;
	button{
		font-size: 16px;
		margin-right: 0px;
		width: 100%;
		padding: 0.5rem;
		color: #fff;
		background-color: #4f9ca5;
		cursor: pointer;
	}
}
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: 0px;
}

body.swal2-height-auto {
  height: inherit;
}
.button-container{
  display: flex;
  .buttonedit{
	  margin: auto;
  }
  .buttondelete{
	  margin: auto;
  }
}

.swal-wide{
  width:850px !important;
}