<div class="panel-header">
	<div style="width: 90%; display: flex;margin:10px auto">
		<div class="cont">
			<h1>Usuarios de MultiEvent</h1>
		</div>
		<div class="filtro">
			<div class="enter">
				<input matInput (keyup)="applyFilter($user)" placeholder="Buscar usuario...">
			</div>
			<div class="ic">
				<mat-icon class="mat-18">search</mat-icon>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<mat-card class="card-container">
		<div class="container-header">
			<div style="width: 90%;font-family: -webkit-body;">
				<mat-card-title class="card-title">Lista de usuarios</mat-card-title>
			</div>
		</div>
		<mat-card class="card">
			<mat-card-content class="card-body table-responsive">
				<table mat-table [dataSource]="dataSource" matSort *ngIf="users$ | async as users; else loading">
					<!-- Titulo Column -->
					<ng-container matColumnDef="UID">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> UID </th>
						<td mat-cell *matCellDef="let element"> {{element.uid}} </td>
					</ng-container>
					<!-- Titulo Column
					<ng-container matColumnDef="name">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
						<td mat-cell *matCellDef="let element"> {{element.name}} </td>
					</ng-container>
					<ng-container matColumnDef="lastname">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
						<td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
					</ng-container> -->
					<ng-container matColumnDef="displayName">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
						<td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
					</ng-container>
					<!-- Sala Column -->
					<ng-container matColumnDef="email">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
						<td mat-cell *matCellDef="let element"> {{element.email}} </td>
					</ng-container>
					<!--Acciones-->
					<ng-container matColumnDef="actions">
						<th mat-header-cell *matHeaderCellDef> Acciones </th>
						<td mat-cell *matCellDef="let element">
							<div class="button-container">
								<div class="buttonedit">
									<button mat-mini-fab color="warning"
										aria-label="Example icon button with a plus one icon"
										(click)="onEditsubEvent(element)">
										<mat-icon>edit</mat-icon>
									</button>
								</div>
								&nbsp;
								<div class="buttondelete">
									<button mat-mini-fab color="accent"
										aria-label="Example icon button with a plus one icon"
										(click)="onDeletesubEvent(element)">
										<mat-icon>delete</mat-icon>
									</button>
								</div>
								&nbsp;
								<div class="buttonview">
									<button mat-mini-fab color="warning"
										aria-label="Example icon button with a plus one icon"
										(click)="onEditsubEvent(element)">
										<mat-icon>search</mat-icon>
									</button>
								</div>
							</div>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
				<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
			</mat-card-content>
		</mat-card>
		<br><br>
	</mat-card>
	<br><br>
</div>
<ng-template #loading>
	<div class="container-spinner">
		<mat-spinner></mat-spinner>
	</div>
</ng-template>
<br><br>