.edit-topic-container{
	display: flex;
	flex-direction: column;
	width: 800px;
	form{
		margin-bottom: 20px;
		input.mat-flat-button{
			width: 100%;
			background: #4f9ca5;
			&:hover{
				background: #368f99;
			}
		}
		.container-button{
			min-height: 80px;
			input.mat-flat-button{
				color: #ffff;
				width: 50%;
			}
		}
		.mat-form-field{
			width: 100%;
		}
	}

}
.container-button{
	width: auto;
	margin-top: 20px;
	text-align: center;
	justify-content: center;
	.save{
		width: 30%;
		background-color: darkseagreen;
		color: white;
		border-radius: 20px;
		font-size: 20px;
		height: 40px;
		margin-right: 20px;
		box-shadow: 3px 6px 18px -13px rgba(0, 0, 0, 0.74);
		-moz-box-shadow: 10px 11px 20px -10px rgba(0,0,0,0.74);
		box-shadow: 10px 11px 20px -10px rgba(0,0,0,0.74);
	}
	.cancel{
		width: 30%;
		height: 40px;
		background-color: revert;
		border-radius: 20px;
		font-size: 20px;
		height: 40px;
		margin-right: 20px;
		box-shadow: 3px 6px 18px -13px rgba(0, 0, 0, 0.74);
		-moz-box-shadow: 10px 11px 20px -10px rgba(0,0,0,0.74);
		box-shadow: 10px 11px 20px -10px rgba(0,0,0,0.74);
	}
}

