/* Structure */
.container{
	width: 90%;
	margin: 0 auto;
}
.container-header{
	width: 100%;
	margin: 15px 15px;
	display: flex;
	justify-content: center;
}
.filtro{
	display: flex;
	width: 80%;
	margin-right: 10px;
}
table {
	width: 100%;
  }
  .mat-form-field{
	  font-size: 1rem;
	  width: 95%;
	  margin: 0 auto;
	  display: block;
	  margin-top: 1rem;
	  margin-left: 2.5px;
  }
  .mat-cell{
	  font-size: 16px;
	  margin: 0 auto;
  }
  .mat-header-cell{
	  font-size: 18px;
  }

.container-btn-new{
	display: flex;
	justify-content: flex-end;
	margin: 1rem -0.5rem;
	button{
	    font-size: 16px;
		margin-right: 20px;
		width: 100%;
		padding: 0.5rem;
		color: #fff;
		background-color: #4f9ca5;
		cursor: pointer;
	}
}
.card {
	margin-top: 30px;
	border-radius: 6px;
    color: #333;
	font-size: 0.875rem;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	//background-color: #fff;
	background-clip: border-box;
	border: 1px solid #eeeeee;
	border-radius: 0.25rem; 
}
.card-header {
	border-top: 0;
	position: relative;
	margin-bottom: 0;
	border-radius: 3px;
    margin-top: -15px;
    padding: 15px;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
	background: #c98aee;
	//background-image: linear-gradient(60deg, rgba(53, 185, 174, 0.74), rgba(70, 247, 188, 0.856));
}
.card-body {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
.mat-card-header-text {
    margin: 20px 15px;
}
.mat-card-content>:first-child, .mat-card>:first-child {
    margin-top: -35px;
    padding: 25px 0px 7px 0px
}
	  
.card-title {
	margin-top: 0;
  	margin-bottom: 0.5rem; 
	color: #ffff;
	font-size: 30px;
	text-decoration: none; 
	margin-bottom: 5px;
	margin-left: 20px;
}
.card-subtitle {
	color: #ffff;
	font-size: 20px;
	margin-top: -0.375rem;
	margin-left: 20px;
	margin-bottom: 0; 
}
.button-container{
	display: flex;
	justify-content: center;
	width: 120px;
	.buttonedit{
		margin: auto;
	}
	.buttondelete{
		margin: auto;
	}
}
