<div class="container">
	<div class="container-header">
		<div class="filtro">
			<mat-form-field>
				<mat-label>Filter</mat-label>
				<input matInput (keyup)="applyFilter($beacon)" placeholder="Ex. ium">
			</mat-form-field>
		</div>
		<div class="example-button-container">
			<button mat-fab color="warning" aria-label="Example icon button with a bookmark icon"
				(click)="onNewTopic()">
				<mat-icon>add</mat-icon>
			</button>
		</div>
	</div>
	<mat-card class="card">
		<mat-card class="card-header card-header-warning">
			<mat-card-header>
				<mat-card-title class="card-title">Lista de topicos de interés</mat-card-title>
			</mat-card-header>
		</mat-card>
		<br>
		<mat-card-content class="card-body table-responsive">
			<table mat-table [dataSource]="dataSource" matSort *ngIf="topics$ | async as topics; else loading">

				<ng-container matColumnDef="num">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Nro </th>
					<td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
				</ng-container>

				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
					<td mat-cell *matCellDef="let element"> {{element.title}} </td>
				</ng-container>

				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef> Acciones </th>
					<td mat-cell *matCellDef="let element">
						<div class="button-container">
							<div class="buttonedit">
								<button mat-mini-fab color="warning"
									aria-label="Example icon button with a plus one icon"
									(click)="onEditTopic(element)">
									<mat-icon>edit</mat-icon>
								</button>
							</div>
							&nbsp;
							<div class="buttondelete">
								<button mat-mini-fab color="accent"
									aria-label="Example icon button with a plus one icon"
									(click)="onDeleteBeacon(element)">
									<mat-icon>delete</mat-icon>
								</button>
							</div>
						</div>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
			<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
		</mat-card-content>
	</mat-card>
</div>
<ng-template #loading>
	<div class="container-spinner">
		<mat-spinner></mat-spinner>
	</div>
</ng-template>
<br>
<br>
<br>