<meta charset="utf-8">
<div class="new-beacon-container">
	<form [formGroup]="editBeaconForm" (ngSubmit)="editBeacon(editBeaconForm.value)">
		<mat-form-field>
			<mat-label>Beacon UID</mat-label>
			<input matInput placeholder="identificador de 32 digitos" formControlName="beaconUID">
		</mat-form-field>
		<mat-form-field>
			<mat-label>Nombre</mat-label>
			<input matInput placeholder="Titulo" formControlName="name">
		</mat-form-field>
		<mat-form-field>
			<mat-label>Sala</mat-label>
			<input matInput placeholder="Siglas" formControlName="sala">
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Descripción</mat-label>
			<textarea matInput formControlName="descrip" placeholder="Descripción"></textarea>
		</mat-form-field>
		<div class="container-button">
			<input type="submit" class="mat-flat-button" value="Registrar" 
			[mat-dialog-close]="true">
		</div>
	</form>
</div>