<div class="panel-header">
	<div style="width: 90%; display: flex;margin:10px auto">
		<div class="cont">
			<h1>Sitios de conferencias</h1>
		</div>
		<div class="filtro">
			<div class="enter">
				<input matInput (keyup)="applyFilter($event)" placeholder="Buscar sala...">
			</div>
			<div class="ic">
				<mat-icon class="mat-18">search</mat-icon>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<mat-card class="card-container">
		<div class="container-header">
			<div style="width: 40%;font-family: -webkit-body;">
				<mat-card-title class="card-title">Lista de salas</mat-card-title>
			</div>
			<div style="width:40%;text-align: end;">
				<button (click)="onNewBeacon()" class="button-new">Agregar Sala</button>
			</div>
		</div>
		<!-- 		<mat-card class="card-header card-header-warning">
			<mat-card-header>
				<mat-card-title class="card-title">Salas</mat-card-title>
				<mat-card-subtitle class="card-subtitle">Lista de salas</mat-card-subtitle>
			</mat-card-header>
		</mat-card> -->
		<mat-card class="card">
			<mat-card-content class="card-body table-responsive">
				<table mat-table [dataSource]="dataSource" matSort *ngIf="salas$ | async as salas; else loading">

					<ng-container matColumnDef="beaconUID">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>Beacon UID </th>
						<td mat-cell *matCellDef="let element"> {{element.beaconUID}} </td>
					</ng-container>

					<ng-container matColumnDef="name">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
						<td mat-cell *matCellDef="let element"> {{element.name}} </td>
					</ng-container>

					<ng-container matColumnDef="sala">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Sala </th>
						<td mat-cell *matCellDef="let element"> {{element.sala}} </td>
					</ng-container>

					<ng-container matColumnDef="descrip">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
						<td mat-cell *matCellDef="let element"> {{element.descrip}} </td>
					</ng-container>

					<ng-container matColumnDef="actions">
						<th mat-header-cell *matHeaderCellDef> Acciones </th>
						<td mat-cell *matCellDef="let element">
							<div class="button-container">
								<div class="buttonedit">
									<button mat-mini-fab color="warning"
										aria-label="Example icon button with a plus one icon"
										(click)="onEditBeacon(element)">
										<mat-icon>edit</mat-icon>
									</button>
								</div>
								&nbsp;
								<div class="buttondelete">
									<button mat-mini-fab color="accent"
										aria-label="Example icon button with a plus one icon"
										(click)="onDeleteBeacon(element)">
										<mat-icon>delete</mat-icon>
									</button>
								</div>
							</div>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
				<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
			</mat-card-content>
		</mat-card>
	</mat-card>
</div>
<ng-template #loading>
	<div class="container-spinner">
		<mat-spinner></mat-spinner>
	</div>
</ng-template>
<br>
<br>
<br>