<div class="dialog-new">
	<h1>{{data.message}}</h1>
	<mat-dialog-content class="dialog-content">
		<div *ngIf="data.content; else showNewForm">
			<div *ngIf="data.sub !== 'true'; else showNewSubEventForm">
				<div *ngIf="data.edit !== 'true'; else showeditEventForm">
					<app-edit-event [event]="data.content"></app-edit-event>
				</div>
			</div>
		</div>
		<ng-template #showNewForm>
			<app-new-event></app-new-event>
		</ng-template>
		<ng-template #showeditEventForm>
			<app-edit-event [event]="data.content" [edit]="data.edit"></app-edit-event>
		</ng-template>
		<ng-template #showNewSubEventForm>
			<app-new-subevent [event]="data.content"></app-new-subevent>
		</ng-template>
	</mat-dialog-content>
</div>