h1{
	text-align: center;
	text-transform: uppercase;
	font-family: 'Material Icons';
}

.dialog-new{
	overflow: auto;
	padding: 1px 30px;
	background: whitesmoke;
	border-radius: 5px;
	-webkit-box-shadow: 10px 9px 19px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 9px 19px -7px rgba(0,0,0,0.75);
	box-shadow: 10px 9px 19px -7px rgba(0,0,0,0.75);
}