/*.navbar{
	position: sticky;
	top: 0;
	z-index: 1000;
	mat-icon{
		cursor: pointer;
	}
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}*/
a{
	color: #fff;
	text-decoration: none;
}
#element{
	color: black;
}
h2{
	display: inline;
    font-size: 30px;
    color: turquoise;
    padding: 1px;
}
.app_name{
	margin-left: 10px;
	font-size: 25px;
}

.mat-toolbar.mat-primary {
    background: #154360;
    color: #fff;
}
.mat-elevation-z6 {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    background: #2C3E50;
	position: sticky;
    top: 0;
	z-index: 1000;
	color: whitesmoke;
  }
mat-sidenav{
	width: 250px;
    cursor: pointer;
    background-color: seagreen;
    box-shadow: 6px -5px 20px -2px #0c2226;
	-webkit-box-shadow: 8px 3px 12px -3px rgba(12,34,38,1);
	-moz-box-shadow: 8px 3px 12px -3px rgba(12,34,38,1);
}
.mat-list-base {
	margin-top: 10px;
    padding-top: 10px;
	.mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
		padding: 0px 15px 0px 10px;
	}
}

.mat-list-base .mat-list-item{
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	font-size: 20px;
}
.mat-drawer-container{
	height: 100%;
}
.butons{
	font-size: 30px;
	margin: auto;
}