<mat-toolbar class="mat-elevation-z6">
	<button mat-icon-button (click)="opened = !opened">
		<mat-icon>menu</mat-icon>
	</button>
	<a routerLink="/" class="app_name">Multi<h2>E</h2>vent</a>
	<span class="fill-remaining-space"></span>
	<button mat-button [matMenuTriggerFor]="menu">
		<mat-icon>settings</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<a id="element" mat-menu-item routerLink="/admin" *ngIf="authSvc.userData$ | async">
			<mat-icon>settings</mat-icon>Admin
		</a>
		<a id="element" mat-menu-item routerLink="/about">
			<mat-icon>help_outline</mat-icon>About
		</a>
		<a id="element" mat-menu-item *ngIf="authSvc.userData$ | async; else showLogin" (click)="onLogout()">
			<mat-icon>exit_to_app</mat-icon>Cerrar sesión
		</a>
	</mat-menu>

	<ng-template #showLogin>
		<a routerLink="/login" routerLinkActive="active">
			<mat-icon class="mat-18">exit_to_app</mat-icon>
			<button mat-button>Login</button>
		</a>
	</ng-template>

</mat-toolbar>
<ng-template #loading>
	<div class="container-spinner">
		<mat-spinner></mat-spinner>
	</div>
</ng-template>
<mat-sidenav-container class="content-container">
	<mat-sidenav #sideNav [(opened)]="opened" mode="side">
		<mat-nav-list>
			<a mat-list-item routerLink="events" routerLinkActive="active">
				<mat-icon>event</mat-icon>&nbsp;Eventos
			</a>
		</mat-nav-list>
		<mat-nav-list>
			<a mat-list-item routerLink="beacons" routerLinkActive="active">
				<mat-icon>track_changes</mat-icon>&nbsp;Beacons
			</a>
		</mat-nav-list>
		<mat-nav-list>
			<a mat-list-item routerLink="topics" routerLinkActive="active">
				<mat-icon>topic</mat-icon>&nbsp;Topicos
			</a>
		</mat-nav-list>
		<mat-nav-list>
			<a mat-list-item routerLink="profile" routerLinkActive="active">
				<mat-icon>account_circle</mat-icon>&nbsp;Perfil
			</a>
		</mat-nav-list>
		<mat-nav-list>
			<a mat-list-item routerLinkActive="active" *ngIf="authSvc.userData$ | async; else showLogin" (click)="onLogout()">
				<mat-icon>exit_to_app</mat-icon>&nbsp;Cerrar Sesión
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<br>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>