<meta charset="utf-8">
<div class="edit-event-container">
	<form [formGroup]="editEventForm" (ngSubmit)="editEvent(editEventForm.value)">
		<mat-form-field>
			<mat-label>Titulo</mat-label>
			<input matInput placeholder="Titulo" formControlName="title">
		</mat-form-field>
		<!--SIGLAS-->
		<mat-form-field>
			<mat-label>Siglas</mat-label>
			<input matInput placeholder="Siglas" formControlName="siglas">
		</mat-form-field>
		<!--FECHA-->
		<div class="timeEvent">
			<div class="fecha">
				<mat-form-field>
					<mat-label>Elija una fecha</mat-label>
					<input matInput formControlName="date" [matDatepicker]="picker">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker disabled="false"></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="fechafin">
				<!--Fecha finalización-->
				<mat-form-field>
					<mat-label>Fecha de finalización</mat-label>
					<input matInput [matDatepicker]="pickerfinish" formControlName="finishdate">
					<mat-datepicker-toggle matSuffix [for]="pickerfinish"></mat-datepicker-toggle>
					<mat-datepicker #pickerfinish></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="hora">
				<mat-form-field>
					<mat-label>Hora</mat-label>
					<input matInput placeholder="hora del evento" formControlName="time">
				</mat-form-field>
			</div>
		</div>
		<mat-form-field appearance="outline">
			<mat-label>Descripción</mat-label>
			<textarea class="textArea" matInput formControlName="descrip" placeholder="Descripción"></textarea>
		</mat-form-field>
		<div>
			<mat-label id="example-radio-group-label">Tipo de Evento</mat-label>
			<mat-radio-group aria-label="tipo de evento" class="example-radio-group" [(ngModel)]="selectedOP"
				formControlName="typeEv">
				<mat-radio-button class="op" value="Presencial">Presencial</mat-radio-button>
				<mat-radio-button class="op" value="En Linea">En línea</mat-radio-button>
			</mat-radio-group>
		</div>
		<!--SALA -->
		<div *ngIf="selectedOP === 'Presencial' || !selectedOP;else online">			
			<mat-form-field>
				<mat-label>Sala</mat-label>
				<mat-select formControlName="sala">
					<mat-option *ngFor="let beacon of beacons" [value]="beacon.id">
						{{beacon.sala}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<ng-template #online>
			<mat-form-field>
				<mat-label>Plataforma</mat-label>
				<input matInput placeholder="plataforma o url de la reunion" formControlName="platform">
			</mat-form-field>
		</ng-template>
		
<!-- 		<mat-form-field>
			<mat-label>Tópicos</mat-label>
			<mat-select [formControl]="topicos" multiple>
				<mat-option *ngFor="let topico of topicosList" [value]="topico">{{topico}}</mat-option>
			</mat-select>
		</mat-form-field> -->
		<mat-form-field>
			<mat-label>Tópicos</mat-label>
			<mat-select formControlName="topics" multiple>
				<mat-option *ngFor="let topico of listTopics" [value]="topico.title">{{topico.title}}</mat-option>
			</mat-select>
		</mat-form-field>
		<div class="container-button">
			<button mat-raised-button color="primary" class="save" (click)="editEvent(editEventForm.value)"
				(click)="resetForm()" [mat-dialog-close]="true">Guardar</button>
			<button mat-button mat-dialog-close (click)="resetForm()" class="cancel">Cancelar</button>
		</div>
	</form>
</div>
<ng-template #showNewSubEventForm>
	<app-new-event></app-new-event>
</ng-template>