<div class="container">
	<div class="row">
		<div class="col-info">
			<mat-card class="card">
				<div class="card-header">
					<h2>Editar Perfil &nbsp;<mat-icon class="mat-18">create</mat-icon>
					</h2>
				</div>
				<br>
				<mat-card-content class="card-body table-responsive">
					<form (ngSubmit)="onSaveUser(profileForm.value)" [formGroup]="profileForm">
						<div class="field">
							<h3 class="fie">Nombre</h3>
							<mat-form-field>
								<input matInput formControlName="displayName">
							</mat-form-field>
						</div>
						<div class="field">
							<h3 class="fie">Email</h3>
							<mat-form-field>
								<input matInput formControlName="email">
							</mat-form-field>
						</div>
						<div class="field">
							<h3 class="fie">Teléfono</h3>
							<mat-form-field>
								<input matInput formControlName="phoneNumber">
							</mat-form-field>
						</div>
						<div class="field">
							<h3 class="fie">Descripción</h3>
							<mat-form-field appearance="fill">
								<textarea matInput formControlName="description"></textarea>
							</mat-form-field>
						</div>
						<div class="field">
							<h3 class="fie">Foto de perfil</h3><br>
							<input type="file" #inputImageProfile formControlName="photoURL"
								(change)="handleImage(($event?.target?.files)[0])" />
						</div><br><br>
						<div class="mat-dialog-actions">
							<div class="button">
								<input type="submit" class="mat-flat-button" value="Guardar" />
							</div>
						</div>
					</form>
				</mat-card-content>
			</mat-card>
		</div>
		<div class="col-profile" *ngIf="user$ | async as user;">
			<mat-card class="profile-card">
				<div class="image">
					<img src="../../../../assets/img/fondo.jpg">
				</div>
				<mat-card-content>
					<!--<div class="label bottom">
						<div class="profile-pic">
							<p>Change</p>
							<img [src]="currentImage">
							 						<input hidden type="file" #inputImageProfile formControlName="photoURL"
									(change)="handleImage(($event?.target?.files)[0])" />
						</div>
					</div>-->
					<div class="author">
						<div class="label bottom">
							<div class="profile-pic">
								<p>Change</p>
								<img [src]="currentImage" alt="foto de perfil" class="avatar">
								<input hidden type="file" #inputImageProfile
									(change)="handleImage(($event?.target?.files)[0])" />
							</div>
						</div>
						<!-- <img [src]="currentImage" alt="foto de perfil" class="avatar"> -->
						<h1 class="title">{{user.name}} {{user.lastname}}</h1>
						<h3>{{user.email}}</h3>
					</div>
					<mat-divider></mat-divider>
					<div class="body-author">
						<p style="text-align: center;font-size: 15px;">"{{user.description}}"</p>
						<h3>Mail:</h3>{{user.email}}
						<h3>Telefono:</h3>{{user.phoneNumber}}
					</div>
					<mat-divider></mat-divider>
					<div class="button-container">
						<button mat-fab color="accent" class="social">
							<mat-icon>facebook</mat-icon>
						</button>
						<button mat-fab color="accent" class="social">
							<mat-icon>mail</mat-icon>
						</button>
					</div>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
	<!--SADSA-->
</div>