.container{
	width: 90%;
	margin: 0 auto;
}
.change{
	display: block;
}
.profile-card{
	border-radius: 0.1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding: inherit;
    box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
	.label{
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		position: relative;
		text-align: center;
		border-radius: 50%;
	
		p{
		  position: absolute;
		  width: 100%;
		  background:#4f9ca5;
		  color: #ffff;
		  text-transform: uppercase;
		  transition: all 0.5s ease;
		}
		img{
		  display: block;
		  width: 150px;
		  height: 150px;
		  border-radius: 50%;
		  border: 4px solid #fff;
		  &:hover{
			border: 4px solid darkslategray;
			cursor: pointer;
		  }
		}
	  }
	
	  .bottom{
		p{
		  bottom: -50%;
		}
		&:hover p{
		  bottom: 0%;
		}
	  }
	
	mat-card-header{
		justify-content: center;
	}
	mat-card-title.mat-card-title{
		justify-content: center;
	}
	mat-form-field,
	input.mat-flat-button{
		width: 60%;
		display: block;
		margin: 0 auto;
	}
}
.field{
	width: 100%;
	.fie{
		margin-bottom: inherit;
    	margin-top: inherit;
	}
}
.body-author{
	padding: 5px 20px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.author {
    text-align: center;
    text-transform: none;
    margin-top: 15px;
}
.avatar{
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 5px;
}
.title {
    font-weight: 700;
}
.button{
	width: 50%;
	margin: auto;
}
.mat-dialog-actions{
	width: 100%;
}
input.mat-flat-button{
	background: darkslategray;
	padding: 0.4rem;
	width: 100%;
    color: #fff;
}
.col-info{
	width: 58%;
	margin: 0px auto auto 0px;
}
img {
	max-height: 267px;
    width: 100%;
    border-radius: 0.1875rem;
}
.profile-card .image {
    height: 140px;
}
.col-profile{
	width: 40%;
}
.card{
	background: mintcream;
	padding: 20px;
	box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
	.card-header .title{
		font-weight: 700;
	}
}

form{
	margin-bottom: 20px;
	.mat-form-field{
		width: 100%;
		font-size: 17px;
	}
	.textArea{
		height: 8em;
		width: 100%;
	}
}
.button-container{
	margin-bottom: 6px;
	text-align: center;
	.social{
		height: 3.6rem;
		min-width: 3.6rem;
		width: 3.6rem;
		margin: 15px;
	}
}