<div class="panel-header">
	<div style="width: 90%; display: flex;margin:10px auto">
		<div class="cont">
			<h1>Eventos Magistrales</h1>
		</div>
		<div class="filtro">
			<div class="enter">
				<input matInput (keyup)="applyFilter($event)" placeholder="buscar evento...">
			</div>
			<div class="ic">
				<mat-icon class="mat-18">search</mat-icon>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<mat-card class="card-container">
		<div class="container-header">
			<div style="width: 40%;font-family: -webkit-body;">
				<mat-card-title class="card-title">Lista de Eventos</mat-card-title>
			</div>
			<div style="width:40%;text-align: end;">
				<button (click)="onNewEvent()" class="button-new">Agregar Evento</button>
			</div>
		</div>
		<mat-card class="card">
			<!-- 			<mat-card class="card-header card-header-warning">
				<mat-card-header>
					<mat-card-subtitle class="card-subtitle">Lista de eventos</mat-card-subtitle>
				</mat-card-header>
			</mat-card> -->
			
			<mat-card-content class="card-body table-responsive">
				<table mat-table [dataSource]="dataSource" matSort *ngIf="events$ | async as events; else loading">
					<!-- Titulo Column -->
					<ng-container matColumnDef="title">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
						<td mat-cell *matCellDef="let element"> {{element.title}} </td>
					</ng-container>
					<!-- Siglas Column -->
					<ng-container matColumnDef="siglas">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Siglas </th>
						<td mat-cell *matCellDef="let element"> {{element.siglas}} </td>
					</ng-container>
					<!-- Fecha Column -->
					<ng-container matColumnDef="fecha">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>
							Fecha <p id="fecha">&nbsp;</p>
						</th>
						<td mat-cell *matCellDef="let element"> {{element.date | date:'dd/MM/yy'}} </td>
					</ng-container>
					<ng-container matColumnDef="fechafin">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>
							Fecha fin<p id="fechafin">&nbsp;</p>
						</th>
						<td mat-cell *matCellDef="let element"> {{element.finishdate | date:'dd/MM/yy'}} </td>
					</ng-container>
					<!-- Sala Column -->
					<ng-container matColumnDef="sala">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Sala/Plataforma </th>
						<td mat-cell *matCellDef="let element"> {{element.sala}} </td>
					</ng-container>
					<!-- Name Column -->
					<ng-container matColumnDef="actions">
						<th mat-header-cell *matHeaderCellDef> Acciones </th>
						<td mat-cell *matCellDef="let element">
							<div class="button-container">
								<div class="buttonedit">
									<button mat-mini-fab color="warning"
										aria-label="Example icon button with a plus one icon"
										(click)="onEditEvent(element)">
										<mat-icon>edit</mat-icon>
									</button>
								</div>
								&nbsp;
								<div class="buttondelete">
									<button mat-mini-fab color="accent"
										aria-label="Example icon button with a plus one icon"
										(click)="onDeleteEvent(element)">
										<mat-icon>delete</mat-icon>
									</button>
								</div>
							</div>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
				<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
			</mat-card-content>
		</mat-card>
	</mat-card>
</div>
<ng-template #loading>
	<div class="container-spinner">
		<mat-spinner></mat-spinner>
	</div>
</ng-template>
<br>
<br>
<br><br>
<br>