<meta charset="utf-8">
<div class="new-beacon-container">
	<form [formGroup]="newBeaconForm">
		<mat-form-field>
			<mat-label>Beacon UID</mat-label>
			<input matInput placeholder="identificador de 32 digitos" formControlName="beaconUID">
		</mat-form-field>
		<mat-form-field>
			<mat-label>Nombre del Beacon</mat-label>
			<input matInput placeholder="nombre" formControlName="name">
		</mat-form-field>
		<mat-form-field>
			<mat-label>Sala</mat-label>
			<input matInput placeholder="sala" formControlName="sala">
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Descripción</mat-label>
			<textarea matInput formControlName="descrip" placeholder="ubicación"></textarea>
		</mat-form-field>
		<div class="container-button">
			<button mat-raised-button mat-dialog-close color="primary" class="save" (click)="addNewBeacon(newBeaconForm.value)">Registrar</button>
			<button mat-button mat-dialog-close class="cancel">Cancelar</button>
			<!--<input type="submit" class="mat-raised-button" value="Registrar" [mat-dialog-close]="true">-->
		</div>
	</form>
</div>