a{
	color: #fff;
	text-decoration: none;
}
#element{
	color: black;
}
h2{
	display: inline;
    font-size: 30px;
    color: turquoise;
    padding: 1px;
}
.app_name{
	margin-left: 10px;
	font-size: 25px;
}

.mat-toolbar.mat-primary {
    background: #154360;
    color: #fff;
}