<mat-toolbar color="primary">
	<button mat-icon-button (click)="toggleSideBar()">
		<mat-icon>menu</mat-icon>
	</button>
	<a routerLink="/" class="app_name">Multi<h2>E</h2>vent</a>
	<span class="fill-remaining-space"></span>
	<button mat-button [matMenuTriggerFor]="menu">
		<mat-icon>settings</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<a id="element" mat-menu-item routerLink="/admin" *ngIf="authSvc.userData$ | async">
			<mat-icon>settings</mat-icon>Admin
		</a>
		<a id="element" mat-menu-item routerLink="/about">
			<mat-icon>help_outline</mat-icon>About
		</a>
		<a id="element" mat-menu-item *ngIf="authSvc.userData$ | async; else showLogin" (click)="onLogout()">
			<mat-icon>exit_to_app</mat-icon>Cerrar sesión
		</a>
	</mat-menu>

	<ng-template #showLogin>
		<a routerLink="/login" routerLinkActive="active">
			<mat-icon class="mat-18">exit_to_app</mat-icon>
			<button mat-button>Login</button>
		</a>
	</ng-template>

</mat-toolbar>