<div class="container">
	<mat-accordion class="example-headers-align" multi>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					<h3>{{ event.title }} ({{ event.siglas }})</h3>
				</mat-panel-title>
				<mat-panel-description>
					{{ event.date | date:'dd/MM//yy' }}&nbsp;&nbsp;&nbsp;
					<a [routerLink]="['/event', event.id]">
						<button mat-fab [color]="color" (mouseover)="color = 'primary'" (mouseout)="color = 'warning'">
							<mat-icon>visibility</mat-icon>
						</button>
					</a>
				</mat-panel-description>
			</mat-expansion-panel-header>
 			<div *ngIf="subeventList.length > 0; else noSubs">
				<mat-list>
					<mat-list-item *ngFor="let sub of subeventList">
						<a class="element" [routerLink]="['/subevent', sub.id]">
							<h3 matLine>{{sub.title}} ({{sub.siglas}})</h3>
							<p matLine>
								<span> {{sub.date}} </span>
								<span> -- {{sub.time}} </span>
							</p>
						</a>
					</mat-list-item>
				</mat-list>
			</div>
		</mat-expansion-panel>
	</mat-accordion>
</div>
<ng-template #noSubs>
	<div>
		<span>
			<mat-icon>info</mat-icon>&nbsp;No existen subeventos.
		</span>
	</div>
</ng-template>