a{
	cursor: pointer;
	color: black;
	text-decoration: none;
	text-align: left;
}
/*
*/
p.siglas{
	font-size: 15px;
	margin-left: 15px;
	text-overflow: ellipsis;
}
p.content{
	text-align: justify;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  //flex-basis: 0;
  padding: 10px 24px;
}
.mat-expansion-panel-body {
    padding: 0 24px 16px;
    background-color: mintcream;
}	
::ng-deep .mat-expansion-panel-body{
	background-color: mintcream;
}

.mat-expansion-panel-header {
	padding: 10px 24px;
	background-color: lavender;
}
.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover {
	background-color: lavender;
}
.example-headers-align .mat-expansion-panel-header-description {
  justify-content: flex-end;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.mat-accordion .mat-expansion-panel:not(.mat-expanded), .mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
	//margin-top: 10px;
	margin-bottom: 5px;
	background-color: lavender;
}
.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
	flex-grow: 12;
}
.mat-list-base .mat-list-item.mat-2-line, .mat-list-base .mat-list-option.mat-2-line {
	cursor: pointer;
	:hover{
		background-color: rgb(165, 252, 223);
	}
}

.element{
	padding: 0 25px 0 25px;
	width: 94%;
	border-radius: 5px;
}
.mat-list-base .mat-list-item .mat-line:nth-child(n+2) {
    font-size: 15px;
}
.container:hover {
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  }