<div class="subevent" *ngIf="subevent$ |async as subevent; else loading">
	<mat-card>
		<mat-card-content>
			<div class="container-header">
				<div style="width: 80%;font-family: -webkit-body;text-align: initial;margin-left: 10px;">
					<mat-card-title class="card-title">{{subevent.title}} ({{subevent.siglas}})</mat-card-title>
				</div>
				<div style="width:20%;text-align: center;">
					<button (click)="onEditsubEvent()" class="button"><mat-icon>edit</mat-icon></button>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<br>
	<mat-card class="card-info">
		<div class="image-event">
			<br>
			<img mat-card-image src="../../../../assets/img/event.png" alt="Event">
		</div>
		<div class="content" *ngIf="sala$ |async as sala;">
			<mat-card-header>
				<mat-card-subtitle>
					<h3>Fecha de inicio: {{ subevent.date | date:'dd/MM//yy' }}</h3>
				</mat-card-subtitle>
				<mat-card-subtitle>
					<h3>Fecha Finalización: {{ subevent.finishdate | date:'dd/MM//yy' }}</h3>
				</mat-card-subtitle>
				<mat-card-subtitle>
					<h3>Hora del evento: {{ subevent.time }}</h3>
				</mat-card-subtitle>
				<mat-card-subtitle>
					<h3>Sala del evento: {{ sala.sala }}</h3>
				</mat-card-subtitle>
				<mat-card-subtitle>
					<h3>Descripción:</h3>
					<p id="descrip">
						{{ subevent.descrip }}
					</p>
				</mat-card-subtitle>
				<mat-card-subtitle>
					<h3>Topicos de interes</h3> 
					<mat-card-actions>
						<mat-chip-list>
							<mat-chip-list>
								<mat-chip selected *ngFor="let topic of subevent.topics" [ngClass]="topic">
									{{ topic }}
								</mat-chip>
							</mat-chip-list>
						</mat-chip-list>
					</mat-card-actions>
				</mat-card-subtitle>
			</mat-card-header>
		</div><br><br>
	</mat-card><br><br>
	<div class="users" *ngIf="user$ | async as user; else noUsers">
		<mat-card class="card-users">
			<mat-card class="card-header-Users card-header-warning">
				<div class="table-header">
					<div class="card-icon">
						<mat-icon class="icon-i">toc</mat-icon>
					</div>
					<div class="text">Participantes</div>
				</div>
			</mat-card>
			<mat-card-content class="card-body table-responsive">
				<table mat-table [dataSource]="dataSourceUsers" matSort>
					<!-- Titulo -->
					<ng-container matColumnDef="name">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Participante</th>
						<td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
					</ng-container>
					<!-- Email-->
					<ng-container matColumnDef="email">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
						<td mat-cell *matCellDef="let element"> {{element.email}} </td> 
					</ng-container>
					<!--Acciones-->
					<ng-container matColumnDef="actions">
						<th mat-header-cell *matHeaderCellDef> Acciones </th>
						<td mat-cell *matCellDef="let element">
							<div class="button-container">
								<div class="buttondelete">
									<button mat-mini-fab color="warn"
										aria-label="Example icon button with a plus one icon"
										(click)="reomveUser(element.uid)">
										<mat-icon>remove_circle_outline</mat-icon>
									</button>
								</div>
							</div>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumnsUsers"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumnsUsers;"></tr>
				</table>
				<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
			</mat-card-content>
		</mat-card><br><br>
	</div>
</div>
<ng-template #loading>
	<div class="container-spinner">
		<mat-spinner></mat-spinner>
	</div>
</ng-template>
<ng-template #noUsers>
	<div class="noSubEvents">
		<mat-card>
			<mat-card-header>
				<mat-card-title>
					<h3 color="primary">No hay participantes :(</h3>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content style="margin-left: 15px;">
				Aun no se ha registrado ningun usuario a este evento.
			</mat-card-content>
		</mat-card>
	</div>
</ng-template>
