.subevent{
	width: 95%;
	margin: auto;
}

.image-event{
	width: 25%;
    margin: auto;
    margin-left: 15px;
}
.mat-card-image {
    width: calc(100% + 32px);
    margin: auto;
}
.info{
	width: 90%;
	margin: auto;
	text-align: center;
}
.content{
	margin-left: 5%;
    width: 100%;
	text-align: justify;
	
}
.mat-card-content, .mat-card-subtitle {
    font-size: 18px;
}
.mat-card{
	border-radius: 10px;
	box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
}
.card-info{
	display: flex;
}
.container-header{
	width: 100%;
    display: flex;
    padding: 10px 0px;
    justify-content: center;
}
.mat-card-title {
    font-size: 28px;
    font-weight: 600;
}
.button{
    width: 55%;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #3f51b5;
}
.text{
	font-size: 25px;
    margin-left: 15px;
    color: darkslategray;
	font-family: serif;
    font-weight: bold;
}
table {
	width: 100%;
}
.card-icon{
    border-radius: 3px;
    position: relative;
    margin-left: 15px;
	margin-top: -30px;
	background: linear-gradient(to right, #e0eafc, #cfdef3);
    box-shadow: 5px 5px 5px 0px rgba(81,76,94,0.34);
    width: 75px;
    height: 75px;
}
table.mat-table {
	text-align: initial;
}
.mat-cell{
    font-size: 16px;
    margin: 0 auto;
    padding: 10px 8px 8px 0;
}
.mat-header-cell{
    font-size: 18px;
}
.icon-i{
	font-size: 50px;
    line-height: 75px;
    width: 100%;
	text-align: center;
	color: darkslategray;
}
.table-header{
	display: flex;
}
.card-header-Users {
	border-top: 0;
	position: relative;
	margin-bottom: 15px;
	border-radius: 3px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px #3085d675;
    background: powderblue;
	.card > hr {
		margin-right: 0;
		margin-left: 0; }
	  .card > .list-group:first-child .list-group-item:first-child {
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem; }
	  .card > .list-group:last-child .list-group-item:last-child {
		border-bottom-right-radius: 0.25rem;
		border-bottom-left-radius: 0.25rem; }
}
.card-users{
    margin-top: -10px;
}