.new-event-container{
	display: flex;
	flex-direction: column;
	width: 100%;
	form{
		input.mat-flat-button{
			width: 100%;
			background: #4f9ca5;
			&:hover{
				background: #368f99;
			}
		}
		.container-button{
			min-height: 80px;
			input.mat-flat-button{
				color: #ffff;
				width: 50%;
			}
		}
		.mat-form-field{
			width: 100%;
		}
	}

}
.example-radio-group {
	display: flex;
	margin: 15px 0;
	.op{
		margin: 10px;
	}
  }
  
  .example-radio-button {
	margin: 5px;
  }
.timeEvent{
	width: 100%;
	display: flex;
	justify-content: center;
	.fecha{
		width: 35%;
	}
	.fechafin{
		width: 35%;
		margin: auto;
	}
	.hora{
		width: 20%;
		margin: auto;
	}
}

.container-button{
	width: auto;
	margin-top: 20px;
	text-align: center;
	justify-content: center;
	.save{
		width: 30%;
		background-color: #ADD8E6;
		color: black;
		border-radius: 10px;
		font-size: 20px;
		height: 40px;
		margin-right: 20px;
		-webkit-box-shadow: 10px 11px 20px -10px rgba(0,0,0,0.74);
		-moz-box-shadow: 10px 11px 20px -10px rgba(0,0,0,0.74);
		box-shadow: 10px 11px 20px -10px rgba(0,0,0,0.74);
	}
	.cancel{
		width: 30%;
		height: 40px;
		border-radius: 10px;
		color: white;
		font-size: 20px;
		background-color: #808080;
		-webkit-box-shadow: 10px 11px 20px -10px rgba(0,0,0,0.74);
		-moz-box-shadow: 10px 11px 20px -10px rgba(0,0,0,0.74);
		box-shadow: 10px 11px 20px -10px rgba(0,0,0,0.74);
	}
}

