<meta charset="utf-8">
<div class="new-event-container">
	<form [formGroup]="newEventForm">
		<mat-form-field>
			<mat-label>Titulo</mat-label>
			<input matInput placeholder="Titulo" formControlName="title">
		</mat-form-field>
		<mat-form-field>
			<mat-label>Siglas</mat-label>
			<input matInput placeholder="Siglas" formControlName="siglas">
		</mat-form-field>
		<!--TIEMPO DEL EVENTO-->
		<div class="timeEvent">
			<div class="fecha">
				<!--Fecha de Inicio-->
				<mat-form-field>
					<mat-label>Fecha de inicio</mat-label>
					<input matInput [matDatepicker]="picker" formControlName="date">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="fechafin">
				<!--Fecha finalización-->
				<mat-form-field>
					<mat-label>Fecha de finalización</mat-label>
					<input matInput [matDatepicker]="pickerfinish" formControlName="finishdate">
					<mat-datepicker-toggle matSuffix [for]="pickerfinish"></mat-datepicker-toggle>
					<mat-datepicker #pickerfinish></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="hora">
				<mat-form-field>
					<mat-label>Hora</mat-label>
					<input matInput placeholder="hora del evento" formControlName="time">
				</mat-form-field>
			</div>
		</div>
		<!--Descripción-->
		<mat-form-field appearance="fill">
			<mat-label>Descripción</mat-label>
			<textarea matInput formControlName="descrip" placeholder="Descripción"></textarea>
		</mat-form-field>
		<!--Tipo evento-->
		<div>
			<mat-label id="example-radio-group-label">Tipo de Evento</mat-label>
			<mat-radio-group aria-label="tipo de evento" class="example-radio-group" [(ngModel)]="selectedOP" formControlName="typeEv">
				<mat-radio-button class="op" value="Presencial" [checked]="true">Presencial</mat-radio-button>
				<mat-radio-button class="op" value="En Linea">En línea</mat-radio-button>
			</mat-radio-group>
		</div>
		<!--SALA -->
		<div *ngIf="selectedOP === 'Presencial' || !selectedOP;else online">			
			<mat-form-field>
				<mat-label>Sala</mat-label>
				<mat-select formControlName="sala">
					<mat-option *ngFor="let beacon of Listbeacons" [value]="beacon.id">
						{{beacon.sala}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<ng-template #online>
			<mat-form-field>
				<mat-label>Plataforma</mat-label>
				<input matInput placeholder="plataforma o url de la reunion" formControlName="platform">
			</mat-form-field>
		</ng-template>
		<mat-form-field>
			<mat-label>Tópicos</mat-label>
			<mat-select formControlName="topics" multiple>
				<mat-option *ngFor="let topico of listTopics" [value]="topico.title">{{topico.title}}</mat-option>
			</mat-select>
		</mat-form-field>
		<div class="container-button">
			<button mat-raised-button mat-dialog-close color="primary" class="save"
				(click)="addNewEvent(newEventForm.value)" (click)="resetForm()">Registrar</button>
			<button mat-button mat-dialog-close (click)="resetForm()" class="cancel">Cancelar</button>
		</div>
	</form>
</div>