.container{
	justify-content: center;
	.event-card{
		margin-top: 15px;
		background-color: #AFEEEE;
		border-radius: 5px;
		padding: 20px;
		font-size: 150%;
		box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
                0 1px 1px 0 rgba(0,0,0,1), 
                0 1px 3px 0 rgba(0,0,0,1);
	}
}
h2{
	margin-left: 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-table{
	width: 50%;
	margin: 0px auto auto 0px;
}
.col-pie{
	width: 48%;
	box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
}
.table-header{
	display: flex;
}
.card-icon{
    border-radius: 3px;
    position: relative;
    margin-left: 15px;
	margin-top: -30px;
	background: linear-gradient(to right, #e0eafc, #cfdef3);
    box-shadow: 5px 5px 5px 0px rgba(81,76,94,0.34);
    width: 75px;
    height: 75px;
}
.icon-i{
	font-size: 50px;
    line-height: 75px;
    width: 100%;
	text-align: center;
	color: darkslategray;
}
.text{
	font-size: 25px;
    margin-left: 15px;
    color: darkslategray;
	font-family: serif;
    font-weight: bold;
}
#tit{
	margin-bottom: 20px;
    font-size: 30px;
}

.stats-cards {
	width: 100%;
	margin-left: 10px;
	margin-right: 15px;
	display: flex;
	.cards {
		margin-right: 10px;
		overflow: hidden;
		border-style: outset;
		border-radius: 7px;
		width: 100%;
		box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
	}
  }
  table{
	  width: 100%;
	  margin: auto;
  }
  .mat-elevation-z8 {
    box-shadow: none;
    border-radius: 10px;
	border: outset;
	font-size: 15px;
}
.mat-card-content{
	margin-bottom: 0px;
}
//Tabla
.card {
	margin-top: 30px;
	border-radius: 6px;
    color: #333;
	font-size: 0.875rem;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	//background-color: #fff;
	background-clip: border-box;
	border: 1px solid #eeeeee;
	border-radius: 0.25rem;
	box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
}
.card-header {
	border-top: 0;
	position: relative;
	margin-bottom: 0;
	border-radius: 3px;
    padding: 15px;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
	background: lightgreen;
	//background-image: linear-gradient(60deg, rgba(53, 185, 174, 0.74), rgba(70, 247, 188, 0.856));
}
.card-body {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
.mat-card-header .mat-card-title {
	margin: 10px 0px 25px;
	font-weight: bold;
    color: darkslategray;
}
.mat-card-content>:first-child, .mat-card>:first-child {
    margin-top: -35px;
    padding: 25px 0px 0px 0px
}
	  
.card-title {
	margin-top: 0;
  	margin-bottom: 0.5rem; 
	color: #ffff;
	font-size: 30px;
	text-decoration: none; 
	margin-bottom: 5px;
	margin-left: 20px;
}
.panel {
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }