<mat-card class="panel">
	<mat-card-header>
		<mat-card-title>Panel de Eventos</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<div class="container" *ngIf="events$ | async as events; else loading">
			<div *ngFor="let event of events">
				<app-event [event]="event"></app-event>
			</div>
		</div>
	</mat-card-content><br>
</mat-card>
<br>
<mat-card class="panel">
	<mat-card-header>
		<mat-card-title>Información rapida</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<div class="stats-cards">
			<div class="cards">
				<mat-card>
					<app-widget-card label="Nuevos Usuarios" total="{{(users$ | async)?.length}}" percentage="50"
						[data]="cards"></app-widget-card>
				</mat-card>
			</div>
			<div class="cards">
				<mat-card>
					<app-widget-card label="Eventos" total="{{(events$ | async)?.length}}" percentage="40"
						[data]="cards">
					</app-widget-card>
				</mat-card>
			</div>
			<div class="cards">
				<mat-card>
					<app-widget-card label="Subeventos" total="{{numsubs}}" percentage="5" [data]="cards">
					</app-widget-card>
				</mat-card>
			</div>
		</div>
	</mat-card-content><br>
</mat-card>
<br>
<div class="row">
	<div class="col-table">
		<mat-card class="card">
			<mat-card class="card-header card-header-warning">
				<div class="table-header">
					<div class="card-icon">
						<mat-icon class="icon-i">person_search</mat-icon>
					</div>
					<div class="text">Usuarios multievent</div>
				</div>
			</mat-card>
			<br>
			<mat-card-content class="card-body table-responsive">
				<table mat-table [dataSource]="dataSource">
					<!-- Position Column -->
					<ng-container matColumnDef="num">
						<th mat-header-cell *matHeaderCellDef> No. </th>
						<td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
					</ng-container>
					<!-- Name Column
					<ng-container matColumnDef="name">
						<th mat-header-cell *matHeaderCellDef> Nombre </th>
						<td mat-cell *matCellDef="let element"> {{element.name}} {{element.lastname}} </td>
					</ng-container>-->
					<!-- Weight Column -->
					<ng-container matColumnDef="name">
						<th mat-header-cell *matHeaderCellDef> Usuario </th>
						<td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
					</ng-container>
					<ng-container matColumnDef="email">
						<th mat-header-cell *matHeaderCellDef> Correo </th>
						<td mat-cell *matCellDef="let element"> {{element.email}} </td>
					</ng-container>
					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
				<mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="col-pie" *ngIf="events$ | async as events; else loading">
		<mat-card>
			<app-widget-pie [data]="pieChart"></app-widget-pie>
		</mat-card>
	</div>
</div>

<br>
<br>
<br>
<ng-template #loading>
	<div class="container-spinner">
		<mat-spinner></mat-spinner>
	</div>
</ng-template>