/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
	margin: 0; 
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background: #06beb6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.fill-remaining-space{
	flex: 1 1 auto;
}
.container-spinner{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

mat-chip.mat-chip.mat-primary-mat-standard-chip{
	min-height: 2rem;
	padding: 10px;
}
.mat-dialog-container {
    box-shadow: inherit;
    background: inherit;
	color: inherit;
}