<div class="container" *ngIf="event$ |async as event; else loading">
	<mat-card class="event-card">
		<div class="image-event">
			<br>
			<img mat-card-image src="../../../../assets/img/3187910.jpg" alt="Event">
		</div>
		<div id="contenedor" #contenedor>
			<mat-card-header>
				<mat-card-title id="tit">{{ event.title }}&nbsp;({{ event.siglas }})</mat-card-title>
				<mat-card-subtitle>
					<h3>Fecha de inicio: {{ event.date | date:'dd/MM//yy' }}</h3>
				</mat-card-subtitle>
				<mat-card-subtitle>
					<h3>Fecha Finalización: {{ event.finishdate | date:'dd/MM//yy' }}</h3>
				</mat-card-subtitle>
				<mat-card-subtitle>
					<h3>Hora del evento: {{ event.time }}</h3>
				</mat-card-subtitle>
				<mat-card-subtitle>
					<h3>Descripción:</h3>
					<p id="descrip">
						{{ event.descrip }}
					</p>
				</mat-card-subtitle>
				<mat-card-subtitle>
					<h3>Topicos de interes</h3>
					<mat-card-actions>
						<mat-chip-list>
							<mat-chip-list>
								<mat-chip selected *ngFor="let topic of event.topics" [ngClass]="topic">
									{{ topic }}
								</mat-chip>
							</mat-chip-list>
						</mat-chip-list>
					</mat-card-actions>
				</mat-card-subtitle>
			</mat-card-header>
		</div>
	</mat-card>
	<br>
	<mat-divider></mat-divider>
	<div class="example-button-container">
		<button mat-raised-button color="primary" (click)="generatePdf()" class="ButtonSubEvent">
			<mat-icon>get_app</mat-icon>&nbsp;&nbsp;Reporte PDF
		</button>&nbsp;
		<button mat-raised-button color="primary" (click)="onEditEvent(event)" class="ButtonSubEvent">
			<mat-icon>add</mat-icon>&nbsp;&nbsp;Agregar subevento
		</button>
	</div>
	<mat-divider></mat-divider>
</div><br>
<div class="info">
	<div class="subevents" *ngIf="subeventList.length > 0; else noSubEvent" id="subeventosCont">
		<mat-card class="card">
			<mat-card class="card-header card-header-warning">
				<div class="table-header">
					<div class="card-icon">
						<mat-icon class="icon-i">backup_table</mat-icon>
					</div>
					<div class="text">Subeventos</div>
				</div>
			</mat-card>
			<mat-card-content class="card-body table-responsive">
				<table mat-table [dataSource]="dataSource" matSort>
					<!-- Titulo Titulo -->
					<ng-container matColumnDef="title">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
						<td mat-cell *matCellDef="let element"><a
								[routerLink]="['/subevent', element.id]">{{element.title}}</a></td>
					</ng-container>

					<ng-container matColumnDef="actions">
						<th mat-header-cell *matHeaderCellDef> Acciones </th>
						<td mat-cell *matCellDef="let element">
							<div class="button-container">
								<div class="buttonedit">
									<button mat-mini-fab color="warning"
										aria-label="Example icon button with a plus one icon"
										(click)="onEditsubEvent(element)">
										<mat-icon>edit</mat-icon>
									</button>
								</div>
								&nbsp;
								<div class="buttondelete">
									<button mat-mini-fab color="accent"
										aria-label="Example icon button with a plus one icon"
										(click)="onDeletesubEvent(element)">
										<mat-icon>delete</mat-icon>
									</button>
								</div>
								&nbsp;
								<div class="buttonview">
									<a [routerLink]="['/subevent', element.id]">
										<button mat-mini-fab color="black">
											<mat-icon>search</mat-icon>
										</button>
									</a>
								</div>
							</div>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
				<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="users" *ngIf="user$ | async as user; else noUsers">
		<mat-card class="card">
			<mat-card class="card-header-Users card-header-warning">
				<div class="table-header">
					<div class="card-icon">
						<mat-icon class="icon-i">toc</mat-icon>
					</div>
					<div class="text">Participantes</div>
				</div>
			</mat-card>
			<mat-card-content class="card-body table-responsive">
				<table mat-table [dataSource]="dataSourceUsers" matSort>
					<!-- Titulo -->
					<ng-container matColumnDef="name">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Participante</th>
						<td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
					</ng-container>
					<!-- Email-->
					<ng-container matColumnDef="email">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
						<td mat-cell *matCellDef="let element"> {{element.email}} </td>
					</ng-container>
					<!--Acciones-->
					<ng-container matColumnDef="actions">
						<th mat-header-cell *matHeaderCellDef> Acciones </th>
						<td mat-cell *matCellDef="let element">
							<div class="button-container">
								<div class="buttondelete">
									<button mat-mini-fab color="warn"
										aria-label="Example icon button with a plus one icon"
										(click)="reomveUser(element.uid)">
										<mat-icon>remove_circle_outline</mat-icon>
									</button>
								</div>
							</div>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumnsUsers"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumnsUsers;"></tr>
				</table>
				<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
			</mat-card-content>
		</mat-card><br><br>
	</div>
</div>
<ng-template #loading>
	<div class="container-spinner">
		<mat-spinner></mat-spinner>
	</div>
</ng-template>
<ng-template #noSubEvent>
	<div class="noSubEvents">
		<br><br>
		<mat-card>
			<mat-card-header>
				<mat-card-title>
					<h3 color="primary">No existen subeventos!</h3>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				No se ha registrado un subevento dentro de este evento.
			</mat-card-content>
		</mat-card>
	</div>
</ng-template>
<ng-template #noUsers>
	<div class="noparticipants">
		<mat-card>
			<mat-card-header>
				<mat-card-title>
					<h3 color="primary">No hay participantes :(</h3>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				Aun no se ha registrado ningun usuario a este evento.
			</mat-card-content>
		</mat-card>
	</div>
</ng-template>
<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>