.container{
	width: 95%;
	margin: 0 20px auto;
}
.mat-card{
	background-color: #fff;
	color: #000;
	width: 100%;
	.mat-card-title{
		text-align: left;
		font-weight: bold;
		color: darkslategrey;
		text-transform: uppercase;
	}
	.mat-card-content{
		//margin: 0 auto;
		text-align: justify;
		font-size: 15px;
		margin: auto;
		margin-top: 15px;
		width: 100%;
		p.content{
			text-align: initial;
		}
	}
}
.event-card{
	display: flex;
	box-shadow: 0 1px 15px 1px rgba(39,39,39,.1);
}
.mat-card-content, .mat-card-subtitle {
    font-size: 18px;
}
.image-event{
	width: 50%;
    margin-right: 10px;
}
.mat-card-image {
    width: calc(100% + 32px);
    margin: auto;
}
#contenedor{
    width: 100%;
    text-align: justify;
}
h3{
	text-align: initial;
	text-transform: uppercase;
}
.mat-chip-list-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: -4px;
    margin-top: 0px;
    margin-right: -4px;
    margin-bottom: -4px;
    margin-left: -4px;
}
.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    background-color: #8eb5d4;
	border-radius: 8px;
    color: black;
}
.mat-chip {
    font-size: 16px;
}
.mat-card-actions {
    margin-left: 5px;
}
.table-header{
	display: flex;
}
.card-icon{
    border-radius: 3px;
    position: relative;
    margin-left: 15px;
	margin-top: -30px;
	background: linear-gradient(to right, #e0eafc, #cfdef3);
    box-shadow: 5px 5px 5px 0px rgba(81,76,94,0.34);
    width: 75px;
    height: 75px;
}
.text{
	font-size: 25px;
    margin-left: 15px;
    color: darkslategray;
	font-family: serif;
    font-weight: bold;
}
#descrip{
	font-size: 16px;
}
.icon-i{
	font-size: 50px;
    line-height: 75px;
    width: 100%;
	text-align: center;
	color: darkslategray;
}
.card {
	margin-top: 30px;
	border-radius: 6px;
    color: #333;
	font-size: 0.875rem;
	margin-left: -20px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid #eeeeee;
	border-radius: 0.25rem; 
	box-shadow: 0 1px 15px 1px rgba(39,39,39,.1);
}
.card-header {
	border-top: 0;
	position: relative;
	margin-bottom: 0;
	border-radius: 3px;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
	background: linear-gradient(60deg,#17ca86,#00fbc5);
	background-image: linear-gradient(60deg, rgba(53, 185, 174, 0.74), rgba(70, 247, 188, 0.856));
	.card > hr {
		margin-right: 0;
		margin-left: 0; }
	  .card > .list-group:first-child .list-group-item:first-child {
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem; }
	  .card > .list-group:last-child .list-group-item:last-child {
		border-bottom-right-radius: 0.25rem;
		border-bottom-left-radius: 0.25rem; }
}
.card-body {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
.mat-card-header-text {
    margin: 20px 15px;
}
.mat-card-content>:first-child, .mat-card>:first-child {
    margin-top: -35px;
    padding: 25px 0px 7px 0px
}
	  
.card-title {
	margin-top: 0;
  	margin-bottom: 0.5rem; 
	color: #fff;
	font-size: 25px;
	text-decoration: none; 
	margin-bottom: 5px;
}
.card-subtitle {
	color: #fff;
	margin-top: -0.375rem;
	margin-bottom: 0; 
}
table {
	width: 100%;
}
table.mat-table {
	text-align: initial;
}
 	.mat-form-field{
	  font-size: 1rem;
	  width: 95%;
	  margin: 0 auto;
	  display: block;
	  margin-top: 1rem;
	  margin-left: 2.5px;
  }
  .mat-cell{
	  font-size: 16px;
	  margin: 0 auto;
	  padding: 10px 8px 8px 0;
  }
  .mat-header-cell{
	  font-size: 18px;
  }

  .example-button-container{
    display: block;
    text-align: center;
    justify-content: center;
    width: 99%;
    margin: 10px;
    /* position: absolute; */
    z-index: 1000;
  }
  .mat-raised-button{
	border-radius: 20px;
    font-size: large;
    width: 30%;
    text-align: center;
    padding: 3px 10px 3px 0px;
    background: darkslategray;
  }
  .noSubEvents{
	width: 45%;
    text-align: center;
    margin: 0px auto;
    display: flex;
  }
  .noparticipants{
	width: 45%;
    text-align: center;
    margin: 0px auto;
    display: flex;
  }
  .button-container{
	display: flex;
	justify-content: center;
	width: 120px;
	.buttonview{
		margin: auto;
	}
	.buttonedit{
		margin: 5px;
	}
	.buttondelete{
		margin: 5px;
	}
}

.info{
    width: 95%;
	margin: 0 auto;
    display: flex;
	.subevents{
		width: 45%;
    	margin: 0 auto;
	}
	.users{
		width: 45%;
		margin: 0 auto;
	}
}
a{
	text-decoration: none;
}
.card-header-Users {
	border-top: 0;
	position: relative;
	margin-bottom: 0;
	border-radius: 3px;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
	background-image: linear-gradient(161deg, rgba(296, 165, 63, 1.856), rgba(252, 240, 138, 0.856));
	.card > hr {
		margin-right: 0;
		margin-left: 0; }
	  .card > .list-group:first-child .list-group-item:first-child {
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem; }
	  .card > .list-group:last-child .list-group-item:last-child {
		border-bottom-right-radius: 0.25rem;
		border-bottom-left-radius: 0.25rem; }
}