<div class="dialog-new">
	<mat-card>
		<h2>{{data.message}}</h2>
		<mat-card-content>
			<mat-dialog-content class="dialog-content">
				<div class="new-topic-container">
					<form [formGroup]="newTopicForm">
						<mat-form-field>
							<mat-label>Título del Tópico</mat-label>
							<input matInput placeholder="ingrese el nombre del nuevo tópico" formControlName="title">
						</mat-form-field>
						<div class="container-button">
							<button mat-raised-button mat-dialog-close color="primary" class="save"
								(click)="addNewTopic(newTopicForm.value)">Registrar</button>
							<button mat-button mat-dialog-close class="cancel">Cancelar</button>
						</div>
					</form>
				</div>
			</mat-dialog-content>
		</mat-card-content>
	</mat-card>
</div>