:host {
	display: flex;
	flex-direction: column;
	height: 100%;
  }
  .mat-drawer {
    width: 315px;
  }
  
  .mat-drawer-container {
    height: 100%;
  	.mat-drawer.mat-drawer-side {
      z-index: 2;
      background: linear-gradient(to right, #e0eafc, #cfdef3);
      box-shadow: 0 2px 22px 0 rgba(0,0,0,.2), 0 2px 30px 0 rgba(0,0,0,.35);
    }
  }
  
  .mat-drawer-content {
  padding: 20px;
  }
  .mat-elevation-z6 {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    background: #2C3E50;
    z-index: 2;
  }