<app-toolbar (toggleSideBarForMe)="sideBarToggler($event)" class="mat-elevation-z6"></app-toolbar>
<mat-drawer-container>
	<mat-drawer mode="side" [opened]="sideBarOpen">
        <app-sidebar></app-sidebar>
	</mat-drawer>
	<mat-drawer-content>
		<router-outlet></router-outlet>
		<br><br>
		<mat-divider></mat-divider>
		<app-footer></app-footer>
	</mat-drawer-content>
</mat-drawer-container>
