h1{
	text-align: center;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
  	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

.dialog-new{
	overflow: hidden;
	border-style: groove;
	padding: 1px 20px;
	background: #FFFFF0;
	border-radius: 10px;
	-webkit-box-shadow: 10px 9px 19px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 9px 19px -7px rgba(0,0,0,0.75);
	box-shadow: 10px 9px 19px -7px rgba(0,0,0,0.75);
}