<div class="dialog-new">
	<h1>{{data.message}}</h1>
	<mat-dialog-content class="dialog-content">
		<div *ngIf="data.content; else showNewForm">
			<app-edit-beacon [beacon]="data.content"></app-edit-beacon>
		</div>
		<ng-template #showNewForm>
			<app-new-beacon></app-new-beacon>
		</ng-template>
	</mat-dialog-content>
</div>